<!DOCTYPE html>
<html>
<head>
	{%load static%}
	<title>List of Books</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	<script src="{% static 'searchbook.js' %}"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
	<style type="text/css">
		body {
			background: linear-gradient(to bottom,  #ffcc00 0%, #ff99cc 100%);
		}
		.btn {
			background-color: black;
		}
	</style>

</head>
<body>
	<div class="container">
		<div class="row" style="margin-top: 3%">
	        {%if user.is_authenticated%}
	        <header class = "m-3" ">
	        	<a href= "{% url 'lab9:logout'%}" style="text-transform:none; margin-top: 3%;">
         			<div class="left">
             			<img width="20px" alt="Google &quot;G&quot; Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
         			</div>
         			Log Out
         		</a>
	            <h3>Hello, {{ user.username }}!</h3>
	        </header>
	        {%else%}<header>
	        	<a href="{% url 'social:begin' 'google-oauth2' %}" style="text-transform:none">
         			<div class="left">
             			<img width="20px" alt="Google &quot;G&quot; Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
         			</div>
         		Login with Google
         	</a>
         	<br>
	        </header>
	        {%endif%}
		</div>
		<div row>
			<div class="text-center">
				<input type=text id="searchbar" class="textbox" style="margin-bottom: 2%;"> 
				<br>
				<h1>List Of Books</h1>
				<h2>Favourite your Books Here!</h2>
				<button class="btn btn-dark" id="caribtn" onclick="cari()">Search</button>
			</div>

	    	<div class="col-sm-12">
	    		<h4 id="fav"><i class='fa fa-star'style = 'color : #DA70D6'></i> {{ count }} </h4>
	    	</div>
	    	<div class="table-responsive">          
    	  	<table class="table" id="result" style="">
    		</table>
</div>
</body>
</html>
